{% extends 'layout.html' %}
{% block content %}

<h1 class="text-2xl font-bold mt-10 mb-4">Авто в оренді</h1>

<div class="row mt-4">
    {% for car in cars %}
        <div class="col-12 col-md-4 mb-4">
            <div class="bg-white shadow p-4 rounded">

                {% if car.image %}
                    <a href="/cars/{{ car.pk }}/">
                        <img src="{{ car.image.url }}"
                             class="img-fluid rounded mb-3">
                    </a>
                {% endif %}

                <h5 class="fw-bold">
                    <a href="/cars/{{ car.pk }}/" class="text-decoration-none">
                        {{ car.brand }} {{ car.model }}
                    </a>
                </h5>

                <p class="text-muted">{{ car.year }} р.</p>
                <p class="fw-semibold">{{ car.price_per_day }} грн/доба</p>

                

            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
